main{
    width: 940px;
    margin: 0 auto;    
}
.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
}


.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    border: 2px solid transparent;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}
.productos li:hover{
    border-color:#1b4653;
}

.productos li:active{
    border-color:#8f610c;
}

.productos h2{
    width: 240px;
    font-size: 30px;
    font-weight: bold;
    
}

.productos li:hover h2{
    font-size: 31px;
    color:#1b4653;
}

.producto-descripcion{
    font-size: 16px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top:10px;
}